body{
    background-image: url(Untitled\ design.png.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    height: 100vh;
    margin-left: 50px;
}
#headingmain{
    display: flex;
    justify-content: center;
    
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
    width: 50%;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    border-radius: 25px;
    margin-top: 15px;
    box-shadow: 10px 10px 10px black;
}
#des{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 23px;
    margin-right: 73px;

}
#des1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 10px;  
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    box-shadow: -10px -10px -10px black;
}
.front{
    display: flex;
    margin-top: 50px;
    margin-left: 23px;
}
.frontend{
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.images{
    display: flex;   
    margin-top: 50px;
    margin-left: 73px;
    margin-right: 73px;
    flex-direction: row;
    width: 100vw;
}
.images1{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.5);
    margin-right: 10px;
    text-align: center;
    width: 100%;
}
.img{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    
}
.link{
    width: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.therd{
    display: flex;
    flex-direction: row;
    border-width: 5px;
}
.margindenihai{
    margin-left: 20px;
}
.linku{
    display: flex;
    flex-direction: row;
    border-width: 5px;
    border-top-style: none;
}

.aba{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#frontend{
    display: flex;
    text-align: left;
    margin-left: 23px;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
#frontend1{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 25px;
    
}