body{
    background-color: blueviolet;
    height: 100vh;
}
#headingmain{
    display: flex;
    justify-content: center;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    border-radius: 25px;
    margin-top: 15px;
}
#des{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 73px;
    margin-right: 73px;

}
#des1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 10px;  
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
.front{
    display: flex;
    margin-top: 50px;
    margin-left: 73px;
}
.frontend{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.images{
    display: flex;   
    margin-top: 50px;
    margin-left: 73px;
    margin-right: 73px;
    flex-direction: row;
}
.images1{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.5);
    margin-right: 10px;
    text-align: center;
    width: 100%;
}
.img{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    
}
.link{
    width: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.therd{
    display: flex;
    flex-direction: row;
    border-width: 5px;
    border-style: solid;
}
.margindenihai{
    margin-left: 20px;
}
.linku{
    display: flex;
    flex-direction: row;
    border-width: 5px;
    border-style: solid;
    border-top-style: none;
}